@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'h-medium';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueMedium.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-heavy';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-bold';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueBold.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-black';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueBlack.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-thin';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueThin.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-light';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueLight.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-heavy';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'h-normal';
  src: url('../assets/fonts/helvetica-neue-5/HelveticaNeueRoman.otf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
